.container {
    width: 800px;
    margin-left: calc(50% - 400px);
    margin-right: calc(50% - 400px);
    margin-bottom: 30px;
    display: inline-block;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    }
    .logo {
        float: left;
        max-width: 100%;

    }
    .menu {
        float: right;
        margin-top: 10px;
    }
    .menu-links {
        text-decoration: none;
        font-size: 2.5vmin;
        line-height: 2.5vmin;
        color: black;
        float: left;   
        margin-left: 30px;
    }
    .menu-links:hover {
        text-decoration: underline;
        color: aquamarine;
    }
    .menu-links.first{
        margin: 0;
    }
    .left-column {
        width: 40%;
        margin-top: 0;
        height: 100%;
        float: left;
    }
    .h1 {
        font-size: 6.25vmin;
        font-weight: lighter;
        margin: 0;
        color: grey;
    }
    .h2 {
        font-size: 6.25vmin;
        font-weight: bold;
        margin: 0;
        letter-spacing: -2px;
    }
    .line{
        width: 25%;
        float: left;
        background-color: #8870AA;
        height: 4px;
        border: none;
        border-radius: 5px;
    }
    .lc-text {
        display: inline-block;
        font-size: 2.25vmin;
        font-weight: lighter;
        color: grey;
        margin-bottom: 70px;
    }

    .btn {
        display: inline-block;
        text-decoration: none;
        font-size: 2vmin;
        line-height: 0px;
        padding: 20px 30px;
        border: 1px solid #8870AA;
        border-radius: 22px;
        font-weight: bold;
        color: #8870AA;
    }
    .btn:hover {
        box-shadow: 0px 2px 2px 1px grey;
    }
    .btn.btn-invert{
        background-color: #8870AA;
        color: white;
    }
    .right-img {
        float: right;
        max-width: 100%;
        height: auto;


    }
    .ftr-left {
        float: left;
    }
    .social-links {  
        text-align: center;   
        font-size: 4vmin;  
        background-color: white;  
        color: #CBCCCC;
        text-decoration: none;
        border-radius: 10px;
        transition: all 1s;
      }  
    .social-links + a{
        margin-left: 2vmin;
    }
    .social-links:hover {
        color: #8870AA;
    }
    .copyright {
          float: right;
          font-size: 1.25vmin;
          line-height: 1.25vmin;
          margin:0;
      }
    