header,
main,
footer {
    width: 800px;
    margin: auto;
    margin-bottom: 30px;
    background-color: blueviolet;
    }
    header > img {

    }
    nav {

    }
    nav > a {

    }

main {

}
main > a {

}
main > img {

}
footer {

}